#transit_calculator_container {font-size:16px;font-family: SinkinSans-Regular,"Sinkin Sans 500 Medium", sans-serif;}
#transit_calculator_container .App {text-align:center;text-transform: uppercase;max-width:575px;padding:15px;margin:0 auto; }
#transit_calculator_container .App .form-row {display:flex;align-items:center;justify-content: center;margin-bottom:15px;}
#transit_calculator_container .App .form-row > * {max-width:50%;width:100%;}
#transit_calculator_container .App .form-row .label {text-align:left;font-weight:bold;font-size:100%;}
#transit_calculator_container .App .form-row .text {text-align:center; padding:10px; font-size:16px;border:none;color:black;}

#transit_calculator_container .App.dark {color:white;}

#transit_calculator_container .App .form-row.highlighted {margin-top:3px;}
#transit_calculator_container .App .form-row.highlighted .label {color: #F05423;font-weight:700;}
#transit_calculator_container .App .form-row.highlighted input {font-size:1.2rem;background-color: #F05423; font-weight:700; padding:10px;border:none;border-radius:20px;color:white;}

#transit_calculator_container .App .design-piece {margin-bottom:1rem;max-width:575px;}
